
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Contact Us</h1>
                <h5>(We will typically get back to you within 48 hours of recieving the message)</h5>
                           @{
                    if(@ViewBag.UserId != null || @ViewBag.AdminId != null
                    ){
        <a href="/logout">Logout</a>
    }
    else {
        <a href="/signin">Login |</a>

        <a href="/business">Business</a>
    }
}
            </div>
            <div class="col-sm-12">
                <form method="POST" action="https://formspree.io/jaytestdev@gmail.com">
                
                    <div class="form-group">
                        <h4>Email Address: </h4>
                        <input type="email" name="email" placeholder="Email">
                    </div>
                        <h4>Message:</h4>
                        <textarea name="message" placeholder="Test Message"></textarea>
                        <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </body>
</html>