<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Details</h1>
            </div>
            <div class="col-sm-8">
            
            </div>
            <div class="col-sm-8">
                <!-- Menu items -->
            </div>
            <div class="col-sm-8">
                
            </div>
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-secondary text-white" style="max-width: 400px; max-height: 300px;">
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
                    <p>Hello world hello world hello world hello world hello world hello world hello world</p>
            </div>
        </div>
    </body>
</html>