@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>

<html lang="en">
    <body>
        <!-- jQuery for search box -->
        <script>
            $(document).ready(function(){
                $(".myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myList li").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
                });
            });
        </script>
        <div class="container">
            <div class="page-header">
                @{
                    if(@ViewBag.UserId != null || @ViewBag.AdminId != null ){
                        <a href="/logout">Logout</a>
                    }
                    else {
                        <a href="/signin">Login |</a>
                        
                        <a href="/business">Business</a>
                    }
                }
            </div>
           
            
            <div class="col-sm-11">
                <h1>Search</h1>
                <form id="labnol" method="get" action="https://www.google.com/search">
                    <input class="form-control myInput" id="transcript" type="text" placeholder="Search...">
                    <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" class="micImg"/>
                </form>
                <ul id="myList" class="list-group">
                    @{
                        foreach(var i in @ViewBag.AllAdmins){
                             <li class="list-group-item"><a href="/details/@i.RestaurantId">@i.RestaurantName</a></li>
                        }
                    }
       
                  </ul>
                    <script>
                        function startDictation() {

                            if (window.hasOwnProperty('webkitSpeechRecognition')) {

                            var recognition = new webkitSpeechRecognition();

                            recognition.continuous = false;
                            recognition.interimResults = false;

                            recognition.lang = "en-US";
                            recognition.start();

                            recognition.onresult = function(e) {
                                document.getElementById('transcript').value
                                                        = e.results[0][0].transcript;
                                recognition.stop();
                                document.getElementById('labnol')
                            };

                            recognition.onerror = function(e) {
                                recognition.stop();
                            }

                            }
                        }
                    </script>
                
             
            </div>
        </div>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>