<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Info Page</h1>
        </div>
        <div class="col-sm-7">
            <iframe width="650" height="620" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=17&center=47.5957%2C-122.1929&key=AIzaSyBv8mKpwI2wVM-KMybuGc6kL-tt1f_RA0U" allowfullscreen></iframe>
        </div>
        <div class="col-sm-5">
            <h1 class= "text-center">Info</h1>
            <h3>Thank you so much for vising our website. We are located in Seattle, and we would love for you to visit and try out some food!</h3>
            <h3>With this app you can</h3>
            <ul>
                <li><h4>Search for different restauruants</h4></li>
                <br>
                <li> <h4>Add a restauruant</h4></li>
                <br>
                <li><h4>Make a restaurant account for your place if you are the owner</h4></li>
                <br>
                <li><h4>make a admin account for you business</h4></li>
                <br>
                <li><h4>post food pictures</h4></li>
                <br>
                <li><h4>add, delete, and edit a review</h4></li>
            </ul>
        </div>
    </div>
</body>
</html>