/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.logo{
    width: 75px;
    height: 75px;   
}
.navbar {
    background-color: #262626;
    border: none;
    height: 100px;
}
.navbar-inverse .navbar-nav > li > a{
    line-height: 75px;
    color: #ffffff;
    font-size: 20px;
}
.page-header{
    margin-top: 75px;
}
.toplinks {
    margin-left: 800px;
}
.container .body-content {
    min-height: 800px;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  

  .left {
    left: 0;
    background-image: url("../images/Canva1.jpg");
    background-size: cover;
  }
  

  .right {
    right: 0;
    background-color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

